@page

@using Microsoft.Extensions.Caching.Memory
@using CopilotPioneer.Web.Models

@model IndexModel
@inject IMemoryCache MemoryCache
@{
    ViewData["Title"] = "Home";

    var winners = MemoryCache.Get<VoteWinners>("voteWinners");
}

<div class="text-center">
    <div class="alert alert-info">
        <h2 class="display-6">Theme of the week:</h2>
        <h1 class="display-4 fw-bold">"Copilot, help me prepare a presentation. 🤖"</h1>
    </div>

    <p>
        <a asp-page="SubmissionCreate">Submit your prompt to Copilot Pioneer here</a>
    </p>

    <h1 class="display-5">Latest submissions</h1>

    <div class="container">
        <div class="row">
            <div class="alert alert-success">
                @if (winners != null)
                {
                    @if (false)
                    {
                        @if (winners.WeeklyWinners.Count == 0)
                        {
                            <h2>There were no votes last week 😱</h2>
                        }
                        else
                        {
                            <h2>Congratulations to the weekly vote winner(s):</h2>
                            <div>
                                @foreach (var winner in winners.WeeklyWinners)
                                {
                                    <p>
                                        @winner.Profile.GetDisplayName() -

                                        @if (winner.Submission != null)
                                        {
                                            <a asp-page="SubmissionView" asp-route-id="@winner.Submission.Id">@winner.Submission.Title</a>
                                        }

                                        🥇
                                    </p>
                                }
                            </div>
                        }
                    }
                    @if (winners.DailyWinners.Count == 0)
                    {
                        <h2>There were no votes yesterday 😱</h2>
                    }
                    else
                    {
                        <h2>Congratulations to the daily vote winner(s):</h2>
                        <div>
                            @foreach (var winner in winners.DailyWinners)
                            {
                                <p>
                                    @winner.Profile.GetDisplayName() -

                                    @if (winner.Submission != null)
                                    {
                                        <a asp-page="SubmissionView" asp-route-id="@winner.Submission.Id">@winner.Submission.Title</a>
                                    }

                                    ⭐
                                </p>
                            }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div>
                <form class="">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#filterPane">Filters</button>
                    @if (Model.HasFiltersApplied)
                    {
                        <button type="submit" class="btn btn-primary" asp-page-handler="ClearFilters">Clear Filters</button>
                    }
                </form>
            </div>
        </div>
        <div class="row">
            <div id="filterPane" class="collapse form-group text-start">
                <form method="get" class="gx-5" style="display: inline">
                    <div>
                        <label asp-for="ProductFilter" class="form-label">Product:</label>
                        <select asp-for="ProductFilter" class="form-control">
                            <option value="">Any</option>
                            @foreach (var product in Model.PioneerService.GetProducts())
                            {
                                <option value="@product.Id">@product.Label</option>
                            }
                        </select>
                    </div>

                    <div>
                        <label asp-for="TagFilter" class="form-label">Tag:</label>
                        <input type="text" asp-for="TagFilter" class="form-control" />
                    </div>

                    <div class="form-check">
                        <input type="checkbox" asp-for="DailyWinner" class="form-check-input" />
                        <label asp-for="DailyWinner" class="form-check-label">Daily vote winner ⭐</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" asp-for="WeeklyWinner" class="form-check-input" />
                        <label asp-for="WeeklyWinner" class="form-check-label">Weekly vote winner 🥇</label>
                    </div>
                    <div>
                        <label asp-for="SortBy" class="form-label">Sort by submission date:</label>
                        <select asp-for="SortBy" class="form-control">
                            <option value="newest">newest</option>
                            <option value="oldest">oldest</option>
                            <option value="dailyVotes">daily votes</option>
                            <option value="weeklyVotes">weekly votes</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="list-group justify-content-center">
            @if (Model.Submissions.Count == 0)
            {
                <h1 class="alert-warning">No submissions found</h1>
                <h2>Try a different set of filters or clear current filters</h2>
            }
            else
            {
                @foreach (var submission in Model.Submissions)
                {
                    <partial name="/Pages/Partials/SubmissionSummary.cshtml" model="@submission" />
                }
            }
        </div>
    </div>
</div>