@page "{id}"
@model Submissions

@{
    ViewBag.Title = "Submission";
    Layout = "_Layout";
}

@if (Model.Submission == null)
{
    <p>Submission not found</p>
    return;
}

<h2>@Model.Submission.Title</h2>

<p>
    <strong>For:</strong>
    @Model.PioneerService.GetProductName(Model.Submission.Product)
</p>

<pre>@Model.Submission.Prompt</pre>

@if (!string.IsNullOrEmpty(Model.Submission.Notes))
{
    <p>
        <strong>Notes:</strong><br/>
        @Model.Submission.Notes
    </p>
}

<p>
    <small>@Model.Submission.Author @@ @Model.Submission.CreatedDate</small>    
</p>
