@page "/Submission/View/{id}"
@model SubmissionView

@{
    ViewBag.Title = "Submission";
}

<div>
    <h2>
        @Model.Submission.Title
        @if (User.Identity?.Name == Model.Submission.Author)
        {
            <small>
                <a asp-page="SubmissionEdit" asp-route-id="@Model.Submission.Id" class="fa fa-pen"></a>
                <a asp-page="SubmissionDelete" asp-route-id="@Model.Submission.Id" class="fa fa-trash"></a>
            </small>
        }
    </h2>

    <p>
        <strong>For:</strong>
        @Model.PioneerService.GetProductName(Model.Submission.Product)
    </p>

    <p>
        <code id="prompt_@Model.Id">@Model.Submission.Prompt</code>
        <button type="button" class="btn btn-sm" onclick="pioneer.copyElementToClipboard('#prompt_@Model.Id')">&#128203;</button>
    </p>

    @if (!string.IsNullOrEmpty(Model.Submission.Notes))
    {
        <p>
            <strong>Notes:</strong><br/>
            @Model.Submission.Notes
        </p>
    }

    @if (Model.Submission.Screenshots.Length != 0)
    {
        <p>
            @foreach (var screenshot in Model.Submission.Screenshots)
            {
                <a asp-page="ScreenshotView" asp-route-submissionId="@screenshot.SubmissionId" asp-route-screenshotId="@screenshot.Id" asp-route-size="original" target="_blank">
                    <img src="/ScreenshotView/@screenshot.SubmissionId/@screenshot.Id/hero" class="img-thumbnail" alt="@screenshot.AltText"/>
                </a>
            }
        </p>
    }

    @if (Model.Submission.Tags.Any())
    {
        <div>
            @foreach (var tag in Model.Submission.Tags)
            {
                <span class="badge badge-secondary">
                    <a asp-page="Index" asp-route-tag="@tag">@tag</a>
                </span>
            }
        </div>
    }

    <p>
        <small>Submitted by <a asp-page="ProfileView" asp-route-id="@Model.Submission.Author">@Model.Submission.Author</a> @@ @Model.Submission.CreatedDate</small>
    </p>

    @if (Model.Submission.Comments.Length > 0)
    {
        <h3 id="comments">Comments (@Model.Submission.Comments.Length)</h3>
        <div class="list-group">
            @foreach (var comment in Model.Submission.Comments)
            {
                <p>
                    @comment.Content<br/>
                    <small id="@comment.Id">
                        - @comment.Author @@ @comment.CreatedDate
                        <a href="#@comment.Id">
                            <i class="fas fa-link"></i>
                        </a>
                    </small>
                </p>
            }
        </div>
    }

    <h3>Add your comment:</h3>
    <form method="post">
        <input type="hidden" asp-for="SubmissionId" value="@Model.Submission.Id"/>
        <label asp-for="Comment.Content" class="col-sm-2 col-form-label"></label>
        <br/>
        <div class="col-sm-10">
            <textarea asp-for="Comment.Content" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Comment">Submit</button>
    </form>
</div>