@page "/Submission/View/{id}"
@model SubmissionView

@{
    ViewBag.Title = "Submission";
}

<div>
    <h2>
        @Model.Submission.Title
        @if (User.Identity?.Name == Model.Submission.Author)
        {
            <small>
                <a asp-page="SubmissionEdit" asp-route-id="@Model.Submission.Id" class="fa fa-pen"></a>
                <a asp-page="SubmissionDelete" asp-route-id="@Model.Submission.Id" class="fa fa-trash"></a>
            </small>
        }
    </h2>

    <p>
        <strong>For:</strong>
        @Model.PioneerService.GetProductName(Model.Submission.Product)
    </p>

    <p>
        <code>@Model.Submission.Prompt</code>
    </p>

    @if (!string.IsNullOrEmpty(Model.Submission.Notes))
    {
        <p>
            <strong>Notes:</strong><br/>
            @Model.Submission.Notes
        </p>
    }

    @if (Model.Submission.Tags.Any())
    {
        <div>
            @foreach (var tag in Model.Submission.Tags)
            {
                <span class="badge badge-secondary">
                    <a asp-page="Index" asp-route-tag="@tag">@tag</a>
                </span>
            }
        </div>
    }

    <p>
        <small>@Model.Submission.Author @@ @Model.Submission.CreatedDate</small>
    </p>
</div>