@page
@using Microsoft.IdentityModel.Tokens
@model CopilotPioneer.Web.Pages.Vote

@inject CopilotPioneer.Web.Services.PioneerService PioneerService

@{
    ViewData["Title"] = "Vote";
}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#dailyVote">Daily Vote</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#weeklyVote">Weekly Vote</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="dailyVote">
            <h1>Daily Vote</h1>

            @if (!string.IsNullOrEmpty(PioneerService.Theme))
            {
                <div class="alert alert-warning" role="alert">
                    <h2 class="display-4 fw-bold">Vote on the challenge theme!</h2>
                    <h3 class="display-5">"@PioneerService.PreviousTheme"</h3>
                    <p>If the winning vote is not on challenge theme, all points awarded on that voted will retracted.</p>
                </div>
            }

            @if (Model.DailyVoteCast)
            {
                <p>You have already voted. Thank you! ❤️</p>
            }
            else
            {
                @if (Model.DailySubmissions.IsNullOrEmpty())
                {
                    <p>There were no submissions yesterday 😱</p>
                    <p>
                        <small>(or you're the only one who submitted)</small>
                    </p>
                }
                else
                {
                    <ul>
                        @foreach (var submission in Model.DailySubmissions)
                        {
                            <li>
                                <h4>@submission.Title</h4>
                                <p>@submission.Prompt</p>
                                @* <p>Submitted by <a asp-page="ProfileView" asp-route-id="@submission.Author">@submission.Author</a> on @submission.CreatedDate</p> *@
                                        
                                @if (submission.Screenshots.Length > 0)
                                {
                                    <div class="card-link">
                                        @foreach (var screenshot in submission.Screenshots)
                                        {
                                            <a asp-page="ScreenshotView" asp-route-submissionId="@screenshot.SubmissionId" asp-route-screenshotId="@screenshot.Id" asp-route-size="original" target="_blank">
                                                <img src="/ScreenshotView/@screenshot.SubmissionId/@screenshot.Id/thumbnail" class="img-thumbnail" alt="@screenshot.AltText"/>
                                            </a>
                                        }
                                    </div>
                                }

                                <form method="post">
                                    <input type="hidden" name="submissionId" value="@submission.Id"/>
                                    <button type="submit" asp-page-handler="CastDailyVote" class="btn btn-primary">Vote</button>
                                </form>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div class="tab-pane fade" id="weeklyVote">
            <h1 class="display-4">Weekly Vote</h1>
            
            @if (Model.WeeklyVoteCast)
            {
                <p>You have already voted. Thank you! ❤️</p>
            }
            else
            {
                <h3>Vote for your favourite prompt:</h3>
                @if (Model.WeeklySubmissions.IsNullOrEmpty())
                {
                    <p>There were no submissions last week 😱</p>
                    <p>
                        <small>(or you're the only one who submitted)</small>
                    </p>
                }
                else
                {
                    <ul>
                        @foreach (var submission in Model.WeeklySubmissions)
                        {
                            <li>
                                <h4>@submission.Title</h4>
                                <p>@submission.Prompt</p>
                                @* <p>Submitted by <a asp-page="ProfileView" asp-route-id="@submission.Author">@submission.Author</a> on @submission.CreatedDate</p> *@

                                @if (submission.Screenshots.Length > 0)
                                {
                                    <div class="card-link">
                                        @foreach (var screenshot in submission.Screenshots)
                                        {
                                            <a asp-page="ScreenshotView" asp-route-submissionId="@screenshot.SubmissionId" asp-route-screenshotId="@screenshot.Id" asp-route-size="original" target="_blank">
                                                <img src="/ScreenshotView/@screenshot.SubmissionId/@screenshot.Id/thumbnail" class="img-thumbnail" alt="@screenshot.AltText"/>
                                            </a>
                                        }
                                    </div>
                                }

                                <form method="post">
                                    <input type="hidden" name="submissionId" value="@submission.Id"/>
                                    <button type="submit" asp-page-handler="CastWeeklyVote" class="btn btn-primary">Vote</button>
                                </form>
                            </li>
                        }
                    </ul>
                }

                <hr/>
            }

        </div>
    </div>

    <p>
        <a asp-page="Leaderboard">Visit leaderboard</a>
    </p>
</div>