@model CopilotPioneer.Web.Models.Submission

<div>
    <h3>
        <a href="/Submissions/@Model.Id">
            @Model.Title
        </a>
    </h3>
    <pre>@Model.Title</pre>
    @if (Model.Tags.Any())
    {
        <div>
            @foreach (var tag in Model.Tags)
            {
                <span class="badge badge-secondary"><a href="/Tags/@tag">@tag</a></span>
            }
        </div>
    }
    <small>- @Model.Author @@ @Model.CreatedDate</small>
</div>