@model CopilotPioneer.Web.Models.Submission

<div class="list-group-item">
    <div class="card-body">
        <h5 class="card-title">
            <a asp-page="SubmissionView" asp-route-id="@Model.Id">
                @Model.Title
            </a>
        </h5>
        <p>
            <code class="card-text">
                <strong>Prompt:</strong> @Model.Prompt
            </code>
        </p>
        @if (Model.Tags.Any())
        {
            <div class="card-link">
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge badge-secondary">
                        <a asp-page="Index" asp-route-tag="@tag">@tag</a>
                    </span>
                }
            </div>
        }
        
        @if (Model.Screenshots.Length > 0)
        {
            <div class="card-link">
                @foreach (var screenshot in Model.Screenshots)
                {
                    <a asp-page="ScreenshotView" asp-route-submissionId="@screenshot.SubmissionId" asp-route-screenshotId="@screenshot.Id" asp-route-size="original">
                        <img src="/ScreenshotView/@screenshot.SubmissionId/@screenshot.Id/thumbnail" class="img-thumbnail" alt="@screenshot.AltText"/>
                    </a>
                }
            </div>
        }

        <small>Submitted by <a asp-page="ProfileView" asp-route-id="@Model.Author">@Model.Author</a> @@ @Model.CreatedDate</small>
        <br/>
        <small>
            @if (Model.Comments.Length > 0)
            {
                <a asp-page="SubmissionView" asp-route-id="@Model.Id" asp-fragment="comments">
                    Comments (@Model.Comments.Length)
                </a>
            }
        </small>
    </div>
</div>