@model CopilotPioneer.Web.Models.Submission

<div>
    <strong>
        <a asp-page="SubmissionView" asp-route-id="@Model.Id">
            @Model.Title
        </a>
    </strong>
    <pre>@Model.Prompt</pre>
    @if (Model.Tags.Any())
    {
        <div>
            @foreach (var tag in Model.Tags)
            {
                <span class="badge badge-secondary"><a asp-page="Index" asp-route-tag="@tag">@tag</a></span>
            }
        </div>
    }
    <small>Submitted by <a asp-page="ProfileView" asp-route-userId="@User.Identity?.Name">@Model.Author</a> @@ @Model.CreatedDate</small>
</div>